.header.row {
    background-color: rgba(212, 212, 212, 0.212);
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #ced4da;
}

.box {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0cap;
}

.superior {
    background-color: hwb(0 0% 0% / 0.144);
    margin: 10px;
    height: 50px;
    display: flex; 
    align-items: center;
    
}
.pops-out {
    font-weight: bold;
    color: hsl(0, 100%, 30%);
    
}
#Card {
    width: 100%; 
  max-width: 400px;
 
 
}

#Amount-col {
    position: relative;
    right: 20px; 
      }
      

#Amount {
    width: 100%;
}


#first-name {
    width: 100%; 
    
}


#Last-name {
    width: 100%;
}
#CVC-card  {
    position: relative;
    right: 80px; 
    
  }
  #CVC {
    width: 90%%;
  }
  

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

textarea:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

label {

    margin-bottom: 8px;
    

}

.d-grid {
    background-color: rgba(212, 212, 212, 0.212);
    border: 1px solid #ced4da; 
}

.btn-secondary {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.btn-primary {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    margin-bottom: 10px;
}
#message {
    margin-top: 10px;
}
.buttons-footer {
    margin-top: 50px;
}
input {
       border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
#col-message label {
    color: #bfc4c9;
    font-size: smaller
}